
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myInstanceInfoLabel" translate="mozhotelsbookingApp.instanceInfo.home.createOrEditLabel">Create or edit a Instance Info</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.instanceInfo.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.instanceInfo.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="mozhotelsbookingApp.instanceInfo.instanceInfo" for="field_instanceInfo">Instance Info</label>
            <select class="form-control" name="instanceInfo" ng-model="vm.instanceInfo.instanceInfo" id="field_instanceInfo" required>
                <option value="POLICY" translate="mozhotelsbookingApp.InfoType.POLICY">POLICY</option>
                <option value="USEFUL" translate="mozhotelsbookingApp.InfoType.USEFUL">USEFUL</option>
                <option value="MANAGEMENT" translate="mozhotelsbookingApp.InfoType.MANAGEMENT">MANAGEMENT</option>
            </select>
            <div ng-show="editForm.instanceInfo.$invalid">
                <p class="help-block"
                    ng-show="editForm.instanceInfo.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="mozhotelsbookingApp.instanceInfo.instanceInfoName" for="field_instanceInfoName">Instance Info Name</label>
            <input type="text" class="form-control" name="instanceInfoName" id="field_instanceInfoName"
                    ng-model="vm.instanceInfo.instanceInfoName"
                    required />
            <div ng-show="editForm.instanceInfoName.$invalid">
                <p class="help-block"
                    ng-show="editForm.instanceInfoName.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="mozhotelsbookingApp.instanceInfo.info" for="field_info">Info</label>
            <input type="text" class="form-control" name="info" id="field_info"
                    ng-model="vm.instanceInfo.info"
                    required />
            <div ng-show="editForm.info.$invalid">
                <p class="help-block"
                    ng-show="editForm.info.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="mozhotelsbookingApp.instanceInfo.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.instanceInfo.description"
                     />
        </div>

        <div class="form-group">
            <label translate="mozhotelsbookingApp.instanceInfo.instanceInfoType" for="field_instanceInfoType">Instance Info Type</label>
            <select class="form-control" id="field_instanceInfoType" name="instanceInfoType" ng-model="vm.instanceInfo.instanceInfoType" ng-options="instanceInfoType as instanceInfoType.instanceInfoTypeName for instanceInfoType in vm.instanceinfotypes track by instanceInfoType.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="mozhotelsbookingApp.instanceInfo.instanceTur" for="field_instanceTur">Instance Tur</label>
            <select class="form-control" id="field_instanceTur" name="instanceTur" ng-model="vm.instanceInfo.instanceTur" ng-options="instanceTur as instanceTur.instanceTurName for instanceTur in vm.instanceturs track by instanceTur.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
