<div>
    <h2 translate="mozhotelsbookingApp.instanceContact.home.title">Instance Contacts</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="instance-contact.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="mozhotelsbookingApp.instanceContact.home.createLabel">
                        Create new Instance Contact
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'mozhotelsbookingApp.instanceContact.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="mozhotelsbookingApp.instanceContact.contactNumberPrincipal">Contact Number Principal</span></th>
                    <th><span translate="mozhotelsbookingApp.instanceContact.zipCode">Zip Code</span></th>
                    <th><span translate="mozhotelsbookingApp.instanceContact.address">Address</span></th>
                    <th><span translate="mozhotelsbookingApp.instanceContact.website">Website</span></th>
                    <th><span translate="mozhotelsbookingApp.instanceContact.email">Email</span></th>
                    <th><span translate="mozhotelsbookingApp.instanceContact.instanceTur">Instance Tur</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="instanceContact in vm.instanceContacts track by instanceContact.id">
                    <td><a ui-sref="instance-contact-detail({id:instanceContact.id})">{{instanceContact.id}}</a></td>
                    <td>{{instanceContact.contactNumberPrincipal}}</td>
                    <td>{{instanceContact.zipCode}}</td>
                    <td>{{instanceContact.address}}</td>
                    <td>{{instanceContact.website}}</td>
                    <td>{{instanceContact.email}}</td>
                    <td>
                        <a ui-sref="instance-tur-detail({id:instanceContact.instanceTur.id})">{{instanceContact.instanceTur.instanceTurName}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="instance-contact-detail({id:instanceContact.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="instance-contact.edit({id:instanceContact.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="instance-contact.delete({id:instanceContact.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
