<div>
    <h2 translate="mozhotelsbookingApp.guestTourist.home.title">Guest Tourists</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="guest-tourist.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="mozhotelsbookingApp.guestTourist.home.createLabel">
                        Create new Guest Tourist
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'mozhotelsbookingApp.guestTourist.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="mozhotelsbookingApp.guestTourist.firstName">First Name</span></th>
                    <th><span translate="mozhotelsbookingApp.guestTourist.lastName">Last Name</span></th>
                    <th><span translate="mozhotelsbookingApp.guestTourist.email">Email</span></th>
                    <th><span translate="mozhotelsbookingApp.guestTourist.countryResidence">Country Residence</span></th>
                    <th><span translate="mozhotelsbookingApp.guestTourist.tourist">Tourist</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="guestTourist in vm.guestTourists track by guestTourist.id">
                    <td><a ui-sref="guest-tourist-detail({id:guestTourist.id})">{{guestTourist.id}}</a></td>
                    <td>{{guestTourist.firstName}}</td>
                    <td>{{guestTourist.lastName}}</td>
                    <td>{{guestTourist.email}}</td>
                    <td>{{guestTourist.countryResidence}}</td>
                    <td>
                        <a ui-sref="tourist-detail({id:guestTourist.tourist.id})">{{guestTourist.tourist.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="guest-tourist-detail({id:guestTourist.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="guest-tourist.edit({id:guestTourist.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="guest-tourist.delete({id:guestTourist.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
