
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myInstanceFacilityTypeLabel" translate="mozhotelsbookingApp.instanceFacilityType.home.createOrEditLabel">Create or edit a Instance Facility Type</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.instanceFacilityType.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.instanceFacilityType.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="mozhotelsbookingApp.instanceFacilityType.instanceFacilityTypeName" for="field_instanceFacilityTypeName">Instance Facility Type Name</label>
            <input type="text" class="form-control" name="instanceFacilityTypeName" id="field_instanceFacilityTypeName"
                    ng-model="vm.instanceFacilityType.instanceFacilityTypeName"
                    required />
            <div ng-show="editForm.instanceFacilityTypeName.$invalid">
                <p class="help-block"
                    ng-show="editForm.instanceFacilityTypeName.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="mozhotelsbookingApp.instanceFacilityType.facilityType" for="field_facilityType">Facility Type</label>
            <select class="form-control" name="facilityType" ng-model="vm.instanceFacilityType.facilityType" id="field_facilityType" required>
                <option value="SERVICE" translate="mozhotelsbookingApp.FacilityType.SERVICE">SERVICE</option>
                <option value="RESOURCE" translate="mozhotelsbookingApp.FacilityType.RESOURCE">RESOURCE</option>
            </select>
            <div ng-show="editForm.facilityType.$invalid">
                <p class="help-block"
                    ng-show="editForm.facilityType.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="mozhotelsbookingApp.instanceFacilityType.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.instanceFacilityType.description"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="mozhotelsbookingApp.instanceFacilityType.instanceFacility" for="field_instanceFacility">Instance Facility</label>
            <input type="checkbox" class="form-control" name="instanceFacility" id="field_instanceFacility"
                    ng-model="vm.instanceFacilityType.instanceFacility"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="mozhotelsbookingApp.instanceFacilityType.instanceRoomFacility" for="field_instanceRoomFacility">Instance Room Facility</label>
            <input type="checkbox" class="form-control" name="instanceRoomFacility" id="field_instanceRoomFacility"
                    ng-model="vm.instanceFacilityType.instanceRoomFacility"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="mozhotelsbookingApp.instanceFacilityType.instanceBookingFacility" for="field_instanceBookingFacility">Instance Booking Facility</label>
            <input type="checkbox" class="form-control" name="instanceBookingFacility" id="field_instanceBookingFacility"
                    ng-model="vm.instanceFacilityType.instanceBookingFacility"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
